[submodule "code"]
	path = code
	url = https://github.com/solderneer/SentiBots-code.git
[submodule "design"]
	path = design
	url = https://github.com/solderneer/SentiBots-design
[submodule "presentations"]
	path = presentations
	url = https://github.com/solderneer/SentiBots-presentations
[submodule "website"]
	path = website
	url = https://github.com/solderneer/SentiBots-website
